<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/importtwo.css">
        <title>Seaside Manegement| Cadastro de Produtos</title>
    </head>
    <body>
        <nav class="navbar">
            <h1>Seaside<strong>Manegement</strong></h1>
        </nav>
        <main class="conteiner-card">
            <form id="login-form">
                <h1>Cadastro</h1>
                <div class="div-inputs">
                    <input type="text" name="nomeProduto" class="inputs" required>
                    <label for="nomeProduto" class="label-input">Nome Produto</label>
                </div>
                <div class="div-inputs">
                    <input type="date" name="dataFabricacao" class="inputs" required> 
                    <label for="dataVenda" class="label-input-date">Data Venda</label>
                </div>
                <div class="div-inputs">
                    <input type="text" name="nomeComprador" class="inputs" required>
                    <label for="nomeComprador" class="label-input">Nome Comprador</label>
                </div>
                <div class="div-inputs">
                    <input type="number" name="codProduto" class="inputs" required>
                    <label for="codProduto" class="label-input">Código Venda</label>
                </div>
                <div class="div-inputs">
                    <input type="number" name="qtaVendido" class="inputs" required>
                    <label for="qtaVendido" class="label-input">Quantidade Vendido</label>
                </div>
                <div class="div-inputs">
                    <input type="number" name="total" class="inputs" required>
                    <label for="total" class="label-input">Total</label>
                </div>
                <div class="button">
                    <a th:href="@{/home}"><button th:href="@{/home}">Cadastrar</button></a>
                </div>
            </form>
        </main>
    </body>
</html>
